{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard",
    "prettier/unicorn"
  ],
  "plugins": ["flowtype", "react", "prettier", "standard", "unicorn"],
  "env": {
    "browser": true
  },
  "settings": {
    "react": { "version": "latest" },
    "import/resolver": "webpack"
  },
  "rules": {
    "react/jsx-filename-extension": "off"
  }
}
